.formulario {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.formulario form {
    border-radius: 20px;
    padding: 36px 64px;
}

.Botao-Container{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}